*.bak
*.user.*
*.user
*.o
libcoppeliaSim.*
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libcoppeliaSimLib.1.0.0.dylib
libcoppeliaSimLib.1.0.dylib
libcoppeliaSimLib.1.dylib
libcoppeliaSimLib.dylib
libcoppeliaSimLib.so
libcoppeliaSimLib.so.1
libcoppeliaSimLib.so.1.0
libcoppeliaSimLib.so.1.0.0
debug
release
mocinclude.opt
object_script.*.Debug
object_script.*.Release

