*.bak
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libv_rep.1.0.0.dylib
libv_rep.1.0.dylib
libv_rep.1.dylib
libv_rep.dylib
libv_rep.so
libv_rep.so.1
libv_rep.so.1.0
libv_rep.so.1.0.0
debug
release
mocinclude.opt
object_script.*.Debug
object_script.*.Release

